@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --azulfraco: #86cbe9;
    --azulforte: #3483dd;
    --azulfraco_novo: #87a9ff;
    --azulforte_novo: #4a6dc7;

}

body,
h1,
h2,
p,
ul,
li,
a {
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    color: #222222;
    background-color: #dee2e6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;

}
img{
    display: block;
    max-width: 100%;
    width: 100%; 
    height: auto;
}
*{
    box-sizing: border-box;
}
.icone img{
    width:"64px";
    height: "64px";
}
.card-criar-conta{
   background-color: #ffffff;
    border-radius: 12px;
    padding: 100px;
    width: 100%; /* Por padrão */
    max-width: 500px; /* Largura máxima para desktop */
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    
}  
.card-criar-conta:hover {
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}
.card-login:hover {
    transform: translateY(-5px); /* Efeito de elevação ao passar o mouse */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}
.card-login {
 background-color: #ffffff;
    border-radius: 12px;
    padding: 100px;
    width: 100%; /* Por padrão */
    max-width: 500px; /* Largura máxima para desktop */
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    
    
    
}

.texto-verde {
    color: #0fb158;
}

.texto-vermelho {
    color: #fa2d42d5;
}

.superinfo-bg {
    background-color: var(--azulforte);
    color: white;
}

.superinfo {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 15px;
}

.superinfo p,
.superinfo a {
    margin: 0px 10px 10px 10px;
}

.superinfo-bg a {
    color: white;
}

/*MENU*/
.menu-bg {
    background-color: var(--azulfraco);
}

.menu {
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: white;
}

.menu-logo {
    font-size: 2.25em;
    font-weight: bold;
    margin: 0 10px;
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav .menu-link {
    font-size: 1.25em;
    display: block;
    padding: 15px;
    text-decoration: none;
    transition: color 0.3s ease;
    position: relative;
}

.menu-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background: linear-gradient(90deg, var(--azulfraco_novo), var(--azulforte_novo));
    transition: width 0.5s ease;
}

.menu-nav a:hover {
    color: var(--azulforte_novo);
}

.menu-link:hover::after {
    width: 100%;
}

/*sobre*/
.introducao {
    font-family: "Raleway";
    font-size: 3em;
    line-height: 1;
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 10px;
}

.sobre {
    border-top: 2px solid var(--azulforte_novo);
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
}

.sobre-info {
    flex: 2 1 300px;
    padding: 0 10px;
}

.sobre-info h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.sobre-info p {
    font-size: 1.3em;
    line-height: 1.5;
    margin-bottom: 1em;
    font-weight: 500;
    color: #4e4e4e;
}

.sobre-img {
    flex: 1 1 160px;
    margin: 0 10px;
    margin-bottom: 100px;
    height: 100%;
    width: 0px;
    font-weight: 800;
    margin: 0 auto;

}

/*ASSINATURAS*/
.planos-assinatura {
    padding: 60px 20px;
    text-align: center;
    background-color: #f8f9fa; /* Fundo levemente cinza */
}

.planos-assinatura h1 {
    margin-bottom: 25px;
}

.planos-assinatura h2 {
    margin-bottom: 40px;
    font-size: 2em;
    color: #333;
}

.assinatura-container {
    display: flex;
    /* Alinha os cards lado a lado */
    justify-content: center;
    /* Centraliza no meio da tela */
    gap: 30px;
    /* Espaço entre os cards */
    flex-wrap: wrap;
    /* Permite quebrar linha em telas pequenas */

}

.card-plano {
    
    background-color: #fafbfc;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    /* Por padrão */
    max-width: 350px;
    /* Largura máxima para desktop */
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    /* Necessário para posicionar a etiqueta */
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card-plano:hover {
    transform: translateY(-5px);
    /* Efeito de elevação ao passar o mouse */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.titulo-plano {
    font-size: 1.5em;
    color: var(--azulforte);
    /* Cor primária */
    margin-bottom: 10px;
}

.slogan-plano {
    color: #6c757d;
    font-size: 0.9em;
    margin-bottom: 20px;
    min-height: 40px;
    /* Para manter o alinhamento visual */
}

.preco {
    margin: 20px 0;
}

.valor {
    font-size: 3em;
    font-weight: bold;
    color: #333;
}

.periodicidade {
    font-size: 1em;
    color: #6c757d;
}

.desconto-anual {
    font-size: 0.9em;
    color: #38a37f;
    /* Cor verde para desconto */
    margin-top: -10px;
    margin-bottom: 20px;
    font-weight: 500;
}

.lista-beneficios {
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
    text-align: left;
}

.lista-beneficios li {
    padding: 8px 0;
    border-bottom: 1px dashed #eee;
    color: #555;
    font-size: 0.95em;
}

.lista-beneficios li i {
    color: #28a745;
    /* Cor verde para o checkmark */
    margin-right: 10px;
}

.card-plano .btn-cta {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: auto;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 15px;
    /* Alinha o botão na base do card */
}

.btn-principal {
    background-color: var(--azulforte);
    /* Azul */
    color: #ffffff;
    border: 2px solid var(--azulforte);
}

.btn-principal:hover {
    background-color: var(--azulforte_novo);
}

.btn-secundario {
    background-color: #ffffff;
    color: #3fb5e7;
    border: 3px solid #3fb5e7;
    font-weight: bold;
}

.btn-secundario:hover {
    background-color: #e9ecef;
}

.etiqueta {
    position: absolute;
    top: -15px;
    /* Posição acima do card */
    left: 50%;
    transform: translateX(-50%);
    background-color: #fa2d42d5;
    /* Cor de destaque (vermelho) */
    color: white;
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 0.8em;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/*qualidades/funcionalidades */
.qualidade {
    margin: 60px auto;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

.qualidade-item {
    flex: 1 1 300px;
    margin: 20px 15px;
}

.qualidade-item h2 {
    font-size: 2em;
    color: #646363;
    margin-bottom: 10px;
}

.qualidade-item h2::before {
    content: '';
    display: inline-block;
    width: 8px;
    height: 30px;
    margin-right: 10px;
    background-color: var(--azulfraco_novo);
}

.qualidade-item p {
    font-size: 1em;
    line-height: 1.4;
    color: #7c7c7c;
}

/*newsletter*/
.newsletter {
    background-color: #eef1f5;
    padding: 60px calc((100% - 1000px) / 2);
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 260px;
    margin: 0 10px;
}

.newsletter-info h1 {
    font-size: 3em;
    color: #7c7c7c;
}

.newsletter-info p {
    font-size: 1.25em;
    font-style: italic;
    max-width: 240px;
    margin-bottom: 10px;
}

.newsletter-form {
    flex: 2 1 260px;
    margin: 0 10px;
    align-self: center;
    display: flex;
    flex-wrap: no-wrap;
}

.newsletter-form input {
    flex: 3 1 200px;
    font-size: 1.25em;
    color: #7c7c7c;
    font-style: italic;
    font-family: 'Poppins';
    border: 4px solid var(--azulforte_novo);
    background: transparent;
    padding: 10px;
    margin: 0px;
}

.newsletter-form button {
    flex: 1 1 200px;
    font-family: 'Poppins';
    font-weight: bold;
    text-transform: uppercase;
    font: 2em;
    background-color: var(--azulforte_novo);
    color: white;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--azulforte_novo);
}

.footer {
    display: flex;
    background-color: var(--azulforte_novo);
    height: 50px;
    align-items: center;
    margin-top: 100px;
}

.footer p {
    flex: 1;
    text-align: center;
    font-size: 1em;
    color: white;
}

/*estilo do botao experimentar gratis*/
.btn-svg-container {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 15px;
    /* igual aos outros botões */
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

}

.btn-svg {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 2px solid var(--azulforte_novo);
    outline: none;
    position: relative;
    transition: background-color 1s ease-in-out;
    border-radius: 6px;
}

.btn-svg span {
    color: var(--azulforte_novo);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: 'Poppins', sans-serif;
}

.btn-svg svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: var(--azulforte_novo);
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: stroke-dashoffset 1s ease-in-out;
}

.btn-svg:hover {
    background: var(--azulforte_novo);
}

.btn-svg:hover svg {
    stroke-dashoffset: -480;
    stroke: #fff;
}

.btn-svg:hover span {
    color: #fff;
}